{% extends 'pages/base.html' %}

{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
<h1>Добро пожаловать!</h1>
<p>Мы предлагаем широкий выбор свежесваренного кофе и теплую, уютную атмосферу. Вы можете расслабиться, и выпить чашечку нашего фирменного напитка.</p>
<img src="{% static 'images/coffee.jpg'%}" alt="Cozy Coffee Shop" style="width:100%; max-width:600px; margin-top:20px;">

<h2>Преимущества нашей кофейни</h2>
<ul>
    <li><strong>Высокое качество кофе</strong> - Мы используем только лучшие сорта зерен и профессиональное оборудование.</li>
    <li><strong>Уютная атмосфера</strong> - Идеальное местоположение.</li>
    <li><strong>Свежая выпечка</strong> - Каждый день у нас свежий и ароматный кофе.</li>
    <li><strong>Бесплатный Wi-Fi</strong> - Наша кофемашина обладает Wifi-сетью. Ждите кофеек и оставайтесь на связи в любой момент.</li>
</ul>

<p>Приходите к нам и наслаждайтесь лучшим кофе в городе!</p>
{% endblock %}

